body{

background-image: url("apwall.jpg");
background-repeat: no-repeat;
background-attachment: fixed; 
color:rgb(8, 8, 8);
font-weight: 400;
font-family:'Times New Roman', Times, serif;
font-size:x-large;
padding-left: 25%;
padding-right:25%;
}
A{
color: rgb(187, 179, 179);}
A:link {
    text-decoration:none;
}
A:hover {
 color:cadetblue;
 text-decoration: underline;
}
button{
size: 200000px;
background-color:darkslategray ;
}
